<!DOCTYPE html>
<html>
    <head>
        <title>Request Hezb Form</title>
        <link rel="stylesheet" href="./css/styles.css">
    </head>
    <body>
        <form action="/request-hezb" method="post">
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" required>
            <br>
            <label for="hezb_num">Number of Hezbs:</label>
            <input type="number" id="hezb_num" name="hezb_num" min="1" max="60" required>
            <br><br>
            <input type="submit" value="Submit">
          </form>           
    </body>
</html>