body {
    background-color: #F0F8FF;
    font-family: Arial, sans-serif;
    text-align: center;
}

h1 {
    font-size: 36px;
    font-weight: bold;
    margin-top: 50px;
}

a {
    color: #ffffff;
    text-decoration: none;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 50px;
}

button {
    padding: 12px 24px;
    font-size: 20px;
    margin: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}
